<nav>
    <div class="logo-container">
        <div class="nav-logo" style="color:black">
            <app-logo [shopName]="shopName"></app-logo>
        </div>
    </div>
    <div class="menu-container">
        <input id="search-topic" type="text" style="width: 100%;" class="p-inputtext-sm"  pInputText
        (keydown.enter)="onEnterPress($event)" [(ngModel)]="searchTopic" />
    </div>
    <div class="user-detail-container">
        <p-dropdown class="p-inputtext-sm" placeholder="Select Stack" [(ngModel)]="selectedTech"
        (onChange)="onTechnologyChange()" appendTo="body" [options]="techOptions"></p-dropdown>
    </div>
</nav>