<nav>
    <div class="logo-container">
        <div class="nav-logo" style="color:black">
            <app-logo [shopName]="shopName"></app-logo>
        </div>
    </div>
    <div class="menu-container">
        <input id="customerName" type="text" style="width: 100%;" class="p-inputtext-sm"  pInputText />
    </div>
    <div class="user-detail-container">
        <p-dropdown class="p-inputtext-sm" placeholder="select technology" [(ngModel)]="selectedTech"
        (onChange)="onTechnologyCgange()" appendTo="body" [options]="techOptions"></p-dropdown>
    </div>
</nav>