<div class="box">
    <div class="company">
        <h3>Nagarro</h3>
    </div>
    <div class="profile">
        <div class="video-row">
            <h6>Name :</h6>
            <span>Deepak keshri</span>
        </div>
        <div class="video-row">
            <h6>Username :</h6>
            <span>dkeshri</span>
        </div>
        <div class="video-row">
            <h6>EmailID :</h6>
            <span>'dkeshridevgmail.com'</span>
        </div>
    </div>
    <div class="website">
        <a href="#">https://test.com </a>
    </div>
</div>