.box{
    display: flex;
    background-color: white;
    width:100%;
    min-height: 100px;
    box-shadow: 1px 1px 20px #b3bbce;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.company{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #b3bbce;
    font-weight: 500;
    font-family:serif;
}
.profile{
    padding: 20px 0;
}
.video-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.website{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #b3bbce;
    font-weight: 500;
    font-family:serif;
}